// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.space-right {
  padding: 0 8px 0 0;
}

.space-left {
  padding: 0 0 0 8px;
}