<IfModule mod_rewrite.c>
    Options -MultiViews +SymLinksIfOwnerMatch

    RewriteEngine On
    #RewriteBase /path/to/gitlist/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,NC]
</IfModule>
<Files config.ini>
    <IfVersion >= 2.4>
        <IfModule mod_access_compat.c>
            order allow,deny
            deny from all
        </IfModule>
        Require all denied
    </IfVersion>
    <IfVersion < 2.4>
        order allow,deny
        deny from all
    </IfVersion>
</Files>
