volumes:
  var-cache-volume:

services:
  webserver:
    volumes:
      - .:/application:cached
    ports:
      - '8880:80'

  php-fpm:
    volumes:
      - /var/www:/var/repositories
      - .:/application:cached
      - var-cache-volume:/application/var/cache
      - $HOME/.composer:/root/.composer/:cached
