{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    {% if repositories|length == 0 %}
        No repositories found.
    {% else %}
        <table class="table table-bordered table-striped table-condensed">
        <tbody>
            {% for repository in repositories %}
            <tr>
                <td>
                    <i class="icon-folder-open icon-spaced"></i>
                    <a href="{{ path('repository', {repo: repository.name}) }}">
                        {{ repository.name }}
                    </a>
                </td>
                <td>
                    {{ repository.description }}
                </td>
                <td style="width: 1%;">
                    <a href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><i class="rss pull-right"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}
</div>
{% endblock %}
