    <div id="authors_pie"></div>
    <script type="text/javascript">
        google.load("visualization", "1.0", {'packages':['corechart']});
        google.setOnLoadCallback(drawPie);

        function drawPie() {
        	var data = google.visualization.arrayToDataTable([
			["Name", "Commits"],
			
			{% for author in authors -%}
            	[ '{{ author.name }}', {{ author.commits }} ]{% if ( not loop.parent.loop.last ) or ( not loop.last ) %},{% endif %}
            {%- endfor -%}

            ]);

            // Set chart options
            var options = { height: 300,
							is3D: true,
							backgroundColor: "#F9F9F9"
                          };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById("authors_pie"));
            chart.draw(data, options);

        }
    </script>
