    <div id="commits_chart" style="margin-bottom: 20px;"></div>
    <script type="text/javascript">
        google.load("visualization", '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
			["Month", "Commits"],
            {% for year,months in commits -%}
                {%- for month in range(1, (year == now.0 ? now.1 : 12)) -%}
                    [ '{{ "%d/%02d"|format(year, month) }}', {{ attribute(months, month).total | default('0') }} ]{% if ( not loop.parent.loop.last ) or ( not loop.last ) %},{% endif %}
                {%- endfor -%}
            {%- endfor %}
            ]);

            // Set chart options
            var options = { width: "100%",
                            height: 150,
                            legend: { position: "none" },
                            hAxis: { title: "Months" }
                          };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById("commits_chart"));
            chart.draw(data, options);

        }
    </script>
