<form class="ms-auto form-inline" action="{{ path('repository_search_commits_action', {repository: repository.name, commitish: commitish}) }}" method="post">
  <div class="input-group">
    <input type="text" name="query" class="form-control" placeholder="{{ 'REPOSITORY_MENU_SEARCH_PLACEHOLDER'|trans }}">
    <div class="input-group-append">
      <button class="btn btn-secondary btn-blend-left" type="button"><i class="icon icon-solo ion-md-search"></i></button>
    </div>
  </div>
</form>
