{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container" id="repositories">
    <div class="search form-group">
        <input class="search form-control" placeholder="Search" autofocus>
    </div>

    <div class="list">
        {% for repository in repositories %}
            <div class="repository">
                <div class="repository-header">
                    <i class="fa fa-folder-open"></i> <a href="{{ path('repository', {repo: repository.name}) }}"><span class="name">{{ repository.name }}</span></a>
                    <a href="{{ path('rss', {repo: repository.name, branch: 'master'}) }}"><span class="fa fa-rss rss-icon pull-right"></span></a>
                </div>
                <div class="repository-body">
                    {% if repository.description %}
                        <p>{{ repository.description }}</p>
                    {% else %}
                        <p>There is no repository description file. Please, create one to remove this message.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
