<div class="navbar navbar-scroll-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage') }}">{{ title }}</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="http://gitlist.org/">About</a></li>
                    <li><a href="{{ path('homepage') }}refresh">Refresh</a></li>
                    <li><a href="https://github.com/klaussilveira/gitlist/issues/new">Report bug</a></li>
                    <li><a href="https://github.com/klaussilveira/gitlist/wiki">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
