<div class="collapse" id="create">
    <form class="form-inline" action="{{ app.request.basepath }}/create" method="POST">
        <span>Create a repository: </span>
        <input type="text" name="name" placeholder="Name" />
        <input type="submit" value="Create" />
    </form>
</div>
